/* media query */
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400, 700);
@media screen and (min-width: 315px) {
  body {
    margin: 0;
    font-size: 12pt;
    color: black;
  }

  .flex {
    display: flex;
    width: 100%;
    background: #dbd9d9;
    flex-wrap: wrap;
  }
  .flex-itm {
    background: #ffffff;

    flex: 0.2 0.2; /* or 1 0 100px, and no more need in min-width at all */
    flex-basis: 95%;
    padding: 15px;
  }
}
@media screen and (min-width: 677px) {
  body {
    margin: 0;
    font-size: 12pt;
    color: black;
  }
  .img {
    width: 100%;
  }
  .flex {
    display: flex;

    background: #dbd9d9;
    padding: 5px;
    flex-wrap: wrap;
  }

  .flex-itm {
    background: #ffffff;

    flex: 0.2 0.2; /* or 1 0 100px, and no more need in min-width at all */
    flex-basis: 44%;
    margin: 5px;
    padding: 15px;
  }
}
@media screen and (min-width: 800px) {
  body {
    margin: 0;
    font-size: 12pt;
    color: black;
  }
  .img {
    width: 100%;
  }
  .flex {
    display: flex;

    background: #dbd9d9;
    padding: 5px;
    flex-wrap: wrap;
  }

  .flex-itm {
    background: #ffffff;

    flex: 0.2 0.2; /* or 1 0 100px, and no more need in min-width at all */
    flex-basis: 32%;
    margin: 5px;
    padding: 15px;
  }
}
@media screen and (min-width: 1070px) {
  body {
    margin: 0;
    font-size: 12pt;
    color: black;
  }
  .img {
    width: 100%;
  }
  .flex {
    display: flex;

    background: #dbd9d9;
    padding: 5px;
    flex-wrap: wrap;
  }

  .flex-itm {
    background: #ffffff;

    flex: 0 0; /* or 1 0 100px, and no more need in min-width at all */
    flex-basis: 22%;
    margin: 5px;
    padding: 15px;
  }
}
/* крестик */
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  z-index: 50;
  color: red;
  font-size: 20pt;
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.close.click {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* target */
.flex-itm {
  position: relative;
  overflow: hidden;
}

.flex-itm {
  margin-bottom: 30px;
}

.dop_info {
  z-index: 1;
  color: #fff;
  padding: 10px 15px;
  font-size: 13pt;
  line-height: 18px;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.dop_info,
.flex-itm:after,
.flex-itm.active:after {
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.flex-itm:hover:after,
.flex-itm.active:after {
  content: " ";
  top: 0;
  background: #000;
  opacity: 0.6;
}

.flex-itm:hover .dop_info,
.flex-itm.active .dop_info,
.flex-itm.active .close,
.flex-itm:hover .close {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

/* show more button */
.show_more {
  text-align: center;
  margin-left: 45%;
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(212, 75, 56); /* фон кнопки */
  padding: 0.7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
}
.show_more:hover {
  background: rgb(232, 95, 76);
} /* при наведении курсора мышки */
.show_more:active {
  background: rgb(152, 15, 0);
} /* при нажатии */

.img {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* input form 
input{
  margin-bottom: 5px;
  height: 20px;
  border: 1px solid #d8d8d8;
  padding: 3px;
}

textarea{
  border: 1px solid #d8d8d8;
  padding: 3px;
}

button{
  padding: 10px;
  border: 1px solid #d8d8d8;
  background-color: #f9f9f9;
  border-radius: 3px;
  font-weight: 300;
}

.error{
  margin-left: 5px;
  font-size: 13px;
  color: red;
  font-weight: 600;

}
.inputbtn {
  margin-left: 37%;
}


*/
.dropdown1 {
  top: 24%;
  display: block;
  background: white;
  position: absolute;
  width: 300px;
}

.dropdown_hid {
  top: 24%;
  display: none;
  background: white;
  position: absolute;
}

li {
  list-style-type: none;
  margin-left: -30px;
}
